#!/usr/bin/env bash
alias config='git --git-dir=$HOME/.cfg/ --work-tree=$HOME'
alias src="source ~/.bashrc"
alias ls="ls --color -A"
alias sl="ls"
alias ll="ls -ho"
alias lls="ll -tr"
alias lsl="lls "
alias lsls="lls "
alias ...="cd ../.."
alias ....="cd ../../.."
alias .....="cd ../../../.."
[ ! "$(command -v  hx)" ] && alias hx="helix "
