theme = "gruvbox_material_dark_hard"

[editor]
line-number = "relative"
mouse = true
scrolloff = 6
bufferline = "multiple"
shell = ["bash", "-c"]
auto-completion = true
completion-trigger-len = 1
end-of-line-diagnostics = "hint"
color-modes = true
undercurl = true

[editor.inline-diagnostics]
cursor-line = "hint"
other-lines = "hint"

[editor.cursor-shape]
insert = "bar"

[editor.file-picker]
hidden = false
# max-depth = 4

[editor.gutters]
layout = ["diff", "diagnostics", "line-numbers", "spacer", "spacer"]

[editor.gutters.line-numbers]
min-width = 3

[editor.indent-guides]
render = true
character = "|"
skip-levels = 1

[editor.lsp]
enable = true
display-messages = true

[editor.search]
smart-case = true
wrap-around = true

[editor.statusline]
left = ["mode", "spinner", "file-name", "position-percentage"]
center = ["selections"]
right = ["position", "spacer", "diagnostics", "register", "file-encoding"]

[keys.normal.g]
l = "code_action"

[keys.normal."space"]
o = ":config-open"
r = ":config-reload"
c = ":buffer-close"
C-h = "swap_view_left"
C-l = "swap_view_right"
C-j = "swap_view_down"
C-k = "swap_view_up"

[keys.normal]
# C-y = [
#   ':sh rm -f /tmp/unique-file',
#   ':insert-output yazi %{buffer_name} --chooser-file=/tmp/unique-file',
#   ':insert-output echo "\x1b[?1049h\x1b[?2004h" > /dev/tty',
#   ':open %sh{cat /tmp/unique-file}',
#   ':redraw',
# ]
    
H = "goto_previous_buffer"
L = "goto_next_buffer"

C-h = "select_prev_sibling"
C-j = "shrink_selection"
C-k = "expand_selection"
C-l = "select_next_sibling"

[keys.select]
H = "goto_previous_buffer"
L = "goto_next_buffer"


[keys.insert.j]
k = ["normal_mode"]

