use-grammars = { only = ["awk", "bash", "comment", "git-attributes", "git-commit", "git-config", "git-ignore", "git-rebase", "go", "json", "log", "latex", "lua", "make", "markdown", "nu", "perl", "pkgbuild", "python", "regex", "rust", "scheme", "sql", "toml", "xml", "yaml"]}
# use-grammars = { only = []}

[[language]]
name = "bash"
auto-format = false
injection-regex = "(shell|bash|zsh|sh)"
file-types = ["sh", "bash", "zsh", ".login", ".bash_login", ".bash_logout", ".logout", ".bash_profile", ".bashrc", ".prompt", ".profile", ".zshenv", ".zlogin", ".zlogout", ".zprofile", ".zshrc", "APKBUILD", "PKGBUILD", "eclass", "ebuild", "bazelrc", ".bash_aliases", ".aliases"]
shebangs = ["sh", "bash"]
indent = {tab-width = 4, unit = "\t" }

[language-server.bash-language-server]
command = "bash-language-server"
args = ["start"]

# [[language]]
# name = "cobol"
# file-types = ["cbl", "cobol"]
# shebangs = ["cbl"]
# indent = { tab-width = 8, unit = " " }

[[language]]
name = "nu"

[[language]]
name = "perl"
injection-regex = "perl"
formatter = { command = "perltidy", args = ["-b", "-l=0", "-i=2"] }

[[language]]
name = "python"
auto-format = true
indent = { tab-width = 4, unit = "\t" }

[[language]]
name = "rust"
auto-format = true
indent = { tab-width = 2, unit = " " }
file-types = ["rs", "rlib"]

[[language-server.rust-analyzer.config.check]]
command = "clippy"

[language.debugger]
command = "codelldb"
name = "codelldb"
port-arg = "--port {}"
transport = "tcp"

[[language.debugger.templates]]
name = "binary"
request = "launch"
[[language.debugger.templates.completion]]
completion = "filename"
name = "binary"

[language.debugger.templates.args]
program = "{0}"
runInTerminal = true

[[language]]
name = "scheme"
scope = "source.scheme"
injection-regex = "scheme"
file-types = ["ss", "rkt", "scm", "lsp"] # "scm",
roots = []
comment-token = ";"
indent = { tab-width = 2, unit = "  " }

[[language]]
name = "toml"

[language-server.toml]
command = "taplo"
args = ["lsp", "stdio"]

[[language]]
name = "xml"
injection-regex = "perl"
